extends layout

block content
  div(class='page')
    if error
     div.alert
      | #{error}
    ul(class="list")
      each val, index in apis
        li
          a(href="/run/#{val._id}")
            | #{val.url + ' ' + val.method}

    a(class="btn" href="/api") 添加接口
