extends login-layout

block content
  div(class='page phone')
    div.login-panel
      div.avatar
        img(src='images/icon-people@2x.png')
      if error
        div.alert
          | error
      form(action="/register" method="post")
        div.field
          input(type='text' name='username' placeholder='工号/域账户/邮箱')
        div.field
          input(type='password' name='password' placeholder='密码')
        div(class='btn login-btn')
          | 注 册
          input(type='submit' value='注册')
        a(class='btn forget-pwd-btn')
  